@model List<Planner.Models.Domain.WeekDay>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 ry-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Laboratorium Radionuclids
            </h1>
            <p class="lead">
                History patients
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/1193743/pexels-photo-1193743.jpeg?auto=compress&cs=tinysrgb&w=600"
                 alt="Week Day - Laboratorium radiations"
                 class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="row">
            @if (Model != null && Model.Any())
            {
                @foreach (var weekDay in Model)
                {
                    <div class="col">
                        <div class="box-shadow" style="background-color: #e9ecef;">
                            <h2 class="mb-2 small">Day: @weekDay.Day.ToShortDateString() </h2>
                            <h2 class="mb-2 small">Activity Day : @weekDay.ActivityDay </h2>
                            <h2 class="mb-2 small">Quantity MBK : @weekDay.QuantityMbK </h2>
                            <h2 class="mb-2 small">Remainder MBK : @weekDay.RemainderMBK </h2>

                            <div class="container ps-0">
                                Patients
                                @if (weekDay.Patients != null)
                                {
                                    @foreach (var people in weekDay.Patients)
                                    {
                                        <table class="table">
                                            <thread>
                                                <tr>
                                                    <th><small>@people.Name</small></th>
                                                    <th><small>@people.Surname</small></th>
                                                    <th><small>@people.BirthDay</small></th>
                                                    <th><small>@people.Research</small></th>
                                                </tr>
                                            </thread>
                                        </table>
                                    }
                                }
                                else
                                {
                                    <p>No Patient found!</p>
                                }
                            </div>
                        </div>
                    </div>

                }
            }

        </div>
    </div>
</div>


<style>
    th {
        padding: 5px;
        font-size: 10px;
    }

    td {
        padding: 5px;
        font-size: 10px;
    }

    body {
        background-color: #f8f9fa;
    }
</style>
