@model List<Planner.Models.Domain.WeekDay>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 ry-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Laboratorium Radionuclids
            </h1>
            <p class="lead">
                Registering patients
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/1193743/pexels-photo-1193743.jpeg?auto=compress&cs=tinysrgb&w=600"
                 alt="Week Day - Laboratorium radiations"
                 class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>


   

<style>
    .no-underline-hover {
        text-decoration: none; 
        transition: font-size 0.2s; 
    }

    .no-underline-hover:hover {
        font-size: 1.1em; 
    }

    th{
        padding: 5px;
        font-size: 10px;
    }

    td {
        padding: 5px;
        font-size: 10px;
    }

    body {
        background: linear-gradient(to bottom, #f0f2f5, #9D8D8F, #e6e9ed);
    }


    .containerEmpty {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        padding: 50px;
    }

    .containerBox{
        border: 1px solid #000;
        width: 420px;
        height: auto;

    }

    .box {
        border: 1px solid #000;
        width: 200px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
    }

    .addButton {
        font-size: 2rem;
        border: none;
        background: none;
        cursor: pointer;
        color: #000;
        transition: transform 0.3s ease;
    }

        .addButton:hover {
            transform: scale(1.2);
        }

    .p {
        margin-bottom: 15px;
    }

    td{
        font-size: 16px;
    }

    /* Общие стили */
    .scroll-container {
        overflow-y: auto; 
        max-height: 400px; 
       
    }

        /* Стилизация полосы скроллбара */
        .scroll-container::-webkit-scrollbar {
            width: 5px; /* Ширина скроллбара */
        }

        /* Стилизация трека скроллбара (основного блока) */
        .scroll-container::-webkit-scrollbar-track {
           
            border-radius: 5px; /* Скругление углов трека */
        }

        /* Стилизация полосы скроллбара (ползунка) */
        .scroll-container::-webkit-scrollbar-thumb {
            background-color: #888; /* Цвет ползунка */
            border-radius: 10px; /* Скругление углов ползунка */
        }

        /* Изменение цвета ползунка при наведении */
        .scroll-container::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }



</style>


<div class="container">
    <div class="containerBox">
    <div class="row justify-content-center">
        <div class="row">
            @if (Model != null && Model.Any())
            {
                @foreach (var weekDay in Model)
                {
                    <div class="col">
                        <div class="mb-3 box-shadow" >
                            <h3 class="mb-2 ">Day: @weekDay.Day.ToShortDateString() </h3>
                            <h3 class="mb-2">Activity Day : @weekDay.ActivityDay </h3>
                            <h3 class="mb-2 ">Quantity MBK : @weekDay.QuantityMbK </h3>
                            <h3 class="mb-2 ">Remainder MBK : @weekDay.RemainderMBK </h3>
                            <h3 class="mb-2 ">Arrival Day : @weekDay.ArrivalDay.ToShortDateString()</h3>
                                <div class="scroll-container">
                            <div class="container py-3 ps-0">Patients
                                <table class="table">
                                    <thead> 
                                        <tr>
                                            <th scope="col">№</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Surname</th>
                                            <th scope="col">Birth day</th>
                                            <th scope="col">Research</th>
                                            <th scope="col">MBK</th>
                                        </tr>
                                    </thead>
                                    @if (weekDay.Patients != null)
                                    {
                                        int count = 1;
                                        @foreach (var people in weekDay.Patients)
                                        {
                                            <tbody class="table-group-divider">
                                                <tr>
                                                    <td>@count</td>
                                                    <td>@people.Name</td>
                                                    <td>@people.Surname</td>
                                                    <td>@people.BirthDay.ToShortDateString()</td>
                                                    <td>@people.Research</td>
                                                    <td>@people.MBK</td>
                                                </tr>
                                            </tbody>
                                                count++;
                                        }
                                    }
                                    else
                                    {
                                        <tfoot>No Patient found!</tfoot>
                                    }
                                            
                                </table>
                            </div>
                            <div class="mb-1">
                                <button type="submit" class="btn btn-dark" style="font-size: 12px; padding: 5px 10px;">
                                    <a class="text-white no-underline-hover"
                                       asp-area=""
                                       asp-controller="Patient"
                                       asp-action="Add"
                                       asp-route-weekDayId="@weekDay.Id"
                                       asp-route-registrationDay="@weekDay.Day.ToString("yyyy-MM-dd")"
                                       asp-route-quantityMBK="@weekDay.RemainderMBK">
                                        Add Patient
                                    </a>
                                </button>

                                <button type="submit" class="btn btn-danger ms-2" style="font-size: 12px; padding: 5px 10px;">
                                <a class="text-white no-underline-hover"
                                asp-area=""
                                asp-controller="WeekDay"
                                asp-action="Edit"
                                asp-route-weekDayId="@weekDay.Id"
                                >
                                    Edit Day
                                </a>
                                </button>
                            </div>
                                </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    </div>
</div>

<div class="containerEmpty">
    <div class="box">
        <p class="p">Добавить</p>
        <button class="addButton">
            <a asp-area=""
               asp-controller="WeekDay"
               asp-action="Add">
                <img src="/image/add.png" />
            </a>

        </button>
    </div>
</div>

